[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/wycats/nerdtree.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/vim-indent"]
	path = bundle/vim-indent
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = git://github.com/hallettj/jslint.vim.git
[submodule "bundle/vim-markdown-preview"]
	path = bundle/vim-markdown-preview
	url = git://github.com/robgleeson/vim-markdown-preview.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/textitle"]
	path = bundle/textitle
	url = git://github.com/timcharper/textile.vim.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/rspec"]
	path = bundle/rspec
	url = git://github.com/taq/vim-rspec.git
[submodule "bundle/snip"]
	path = bundle/snip
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/align"]
	path = bundle/align
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/searchfold"]
	path = bundle/searchfold
	url = git://github.com/vim-scripts/searchfold.vim.git
[submodule "bundle/auto-tag"]
	path = bundle/auto-tag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "bundle/jquery"]
	path = bundle/jquery
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/indexSearch"]
	path = bundle/indexSearch
	url = https://github.com/vim-scripts/IndexedSearch.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
[submodule "bundle/block"]
	path = bundle/block
	url = https://github.com/bronson/vim-ruby-block-conv.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/bufexplore"]
	path = bundle/bufexplore
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/synchecker"]
	path = bundle/synchecker
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/quickrun"]
	path = bundle/quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "bundle/lesscss"]
	path = bundle/lesscss
	url = https://github.com/itspriddle/vim-lesscss.git
